<template name="event">
    <div class="container-fluid">
        <div class="row" >
            <h3 >{{name}}</h3>
            {{date}}
        </div>
        <div >
            <div class="col-md-2">
                {{>eventGuestList}}
            </div>
            <div class="col-md-4">
                {{#each eventGuests}}
                    <div class="row">
                        {{>eventGuest}}
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div>
    </div>
</template>

<template name="eventGuestList">
    <label>Guest List</label>
    {{#if currentUser}}
    <form class="addNewGuest">
        <input type="text" class="form-control typeahead" autocomplete="off" data-source="users" name="text" placeholder="Add more guests" />
    </form>
    {{/if}}
</template>

<template name="eventGuest">
  <span>
    {{#if currentUser}}
      <a class="delete" href="#">
          <span class="glyphicon glyphicon-remove"></span>
      </a>
    {{/if}}
      <img src="{{imageUrl}}"/> {{name}} :
    {{#if currentUser}}
      <input type="button" class="btn-link" value={{status}} />
    {{else}}
        {{status}}
    {{/if}}
  </span>
</template>