<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>Event App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body >
<header >
    <h1>Events App </h1>  

    {{>loginButtons}}

    {{#unless currentUser}}
    Sign in to publish events!
    {{/unless}}

</header>

<div class="container-fluid">
    {{#if currentUser}}
        <div class="row">
            <div class="col-md-4">
                {{>newEventForm}}
            </div>
            <div class="col-md-4">
        <span>
             <label>Add Guests</label>
            {{>clear}}
        </span>
                {{>newGuestForm}}
            </div>
        </div>
    {{/if}}
    <div class="row">
        <h2>Upcoming Events</h2>
        <ul class="list-group">
            {{#each events}}
                <li class="list-group-item"> {{>event}} </li>
            {{/each}}
        </ul>
    </div>
</div>

</body>
