<template name="guest">
  <span><img src="{{imageUrl}}"/> {{name}} : {{status}}

  </span>
</template>

<template name="clear">
    <input type="button" class="btn-link" value="Clear" />
</template>

<template name="newGuestForm">
    {{#autoForm meteormethod="addGuest" schema=newGuestSchema id="newGuestForm" type="method"}}
        <fieldset>

            {{>afFieldInput  class="form-control typeahead" autocomplete="off" data-source="users" placeholder='Add new guest' name='newGuest'}}
            {{#each guests}}
                {{>guest}}
            {{/each}}
        </fieldset>
    {{/autoForm}}

</template>

<template name="newEventForm">
    {{#autoForm meteormethod="addEvent" schema=newEventSchema id="newEventForm" type="method"}}
        <fieldset>
            {{> afQuickField name='eventName'}}
            {{> afQuickField type='datetime-local' name='eventDate'}}
        </fieldset>

        <button type="submit" class="btn btn-primary" >
            <span class="glyphicon glyphicon-plus"> Publish Event</span></button>

    {{/autoForm}}
</template>
